.navbar {
    background-color: transparent;
}

* {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

.wrapper-menu {
    display: inline-block;
    cursor: pointer;
    transition: transform 330ms ease-out;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-6px, 4px);
    transform: rotate(-45deg) translate(-6px, 4px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-8px, -px);
    transform: rotate(45deg) translate(-8px, -7px);
}

.navbar-toggler-icon {
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.bar1,
.bar2,
.bar3 {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 6px;
}

.line {
    width: 25vw;
    height: 2.5px;
    background-color: black;

}

.hero {
    background-image: url(img/hero_mobil.jpg);
    background-size: cover;
    height: 100vh;
    background-position: 50%;
}


h1 {
    font-family: 'Work Sans', sans-serif;
    color: black;
    font-size: 2rem;

}

h2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    color: black;

}

h3 {
    font-family: 'Work Sans', sans-serif;
    font-size: 2rem;
    color: black;
}

h4 {

    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    color: black;
}

h5 {

    font-family: 'Work Sans', sans-serif;
    color: black;
    font-size: 1.5rem;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

a {
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    color: black;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: black;
    transform: scale(1.1);
}

.about {
    background: #abbcc6;
}

span {
    font-size: 6rem;
    font-family: 'Macondo', cursive;
}


.progress-container {
    width: 100%;
    height: 8px;
    position: fixed;
    top: 70px;
    left: 0;
    z-index: 2;
}

/* The progress bar (scroll indicator) */
.progress-bar {
    height: 2px;
    background: #656463;

    /*      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.18);*/

    width: 0%;
}


@media screen and (min-width: 768px) {

    h1 {
        font-size: 3rem;
    }

    .hero {
        background-image: url(img/hero_splash.jpg);
    }
}
